options All -Indexes

RewriteEngine On

#halaman umum
RewriteRule ^([-a-z]*)$ index.php?halaman=$1 [L]

#halaman notif 1
RewriteRule ^([-a-z]*)_([-a-z]*)$ index.php?halaman=$1&notif=$2 [L]

#halaman notif 2
RewriteRule ^([-a-z]*)_([-a-z]*)_([-a-z]*)$ index.php?halaman=$1&notif=$2&jenis=$3 [L]



